.conatiner {
  /* margin: 1%; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 2px solid red;
}

.profile {
  width: 100%;
}
.backgroundImg {
  height: 120px;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEmWiDRYj2Df2fokGwU250aYZFFbOUiHjPLHD8bkVD&s");
}
